In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('advertising1.csv')
df.sample(5)

        TV  Sales
191   75.5   11.9
112  175.7   17.1
51   100.4   10.7
62   239.3   20.7
172   19.6    7.6

In [ ]:
sns.lmplot(x='Length of Membership',y='Yearly Amount Spent',data=customers)